body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00ffff, #ffff00);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.heading-title {
  font-size: 2em;
  text-transform: uppercase;
  flex-grow: auto;
}

.color-input {
  padding: 2em;
}

.bottom-title {
  padding-top: 2em;
}
